a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    color: black;
    text-decoration: none;
}
.btn-default:hover
{
    background-color: #ff3ccb;
    color: white;
}

.btn-default
{
    font-size: large;
    border: transparent;
}

.btn-secondary
{
    background-color: #f4f4f4;
    color: black;
    border: 0px;
}

nav
{
    padding: 10px;
    background-color: white;
    position: fixed;
    z-index: 3;
}

.notification
{
    padding: 1px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    float: right;
}

.notification:hover
{
    padding: 1px;
    background-color: #b6b6b6;
}

.container
{
    width: 100%;
    height: 100%;
}

.panel-info >.panel-heading
{
    background-color: #0e5a80;
    color: white;
}

.panel-info
{
    border-color: #0e5a80;
}
.dropbtn {
    background-color: #fff;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 82%;
    z-index: 1;
}

.dropdown-content a {
    box-sizing: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signUpButton,.cancelButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signUpButton {
    opacity:1;
}

.cancelButton {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelButton, .signUpButton {
    float: left;
    width: 50%;
}